CONFIG_PATH=./config/local.yaml
ALIAS_LENGTH=5
AUTH_USER=tvizzi
AUTH_PASSWORD=tvizzi
POSTGRES_USER=zak
POSTGRES_PASSWORD=zakizzi
POSTGRES_DB=tvizzi_db
POSTGRES_PORT=5432

DATABASE_URL=postgres://zak:zakizzi@postgres:5432/tvizzi_db
